h1 > a {
  float: right;
}

.wy-side-nav-search {
  background-color: black;
  margin-top: 0;
  padding-top: 0;
}

a.icon.icon-home:before {
  background:url('../_images/equalizer-icon.jpg');
  content: '';
  background-size: 120px;
  background-repeat: no-repeat;
  height: 120px;
  width: 120px;
}

a.icon.icon-home {
  font-size: 2em;
  margin-bottom: 0;
}
